{% extends 'base.html' %}
{% block title %}
    AI Counter
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">AI Counter</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="email" placeholder="E-Mail" aria-label="Search">
    <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
  </form>
</nav>
{% endblock %}

{% block content %}
    <div class="container text-center">
            <h1>AI Counter</h1>
            <h4>Helps you every day... anytime</h4>
        <p></p>
        <p></p>
            <div class="container">
                <div class="row">
                    <div class="form-group col-xl-4 col-md-4 col-sm-12">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>All zones</option>
                            <option>Zone 1</option>
                            <option>Zone 2</option>
                            <option>Zone 3</option>
                            <option>Zone 4</option>
                            <option>Zone 5</option>
                        </select>
                    </div>
                    <div class="form-group  col-xl-4 col-md-4 col-sm-12">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Day</option>
                            <option>Week</option>
                            <option>Year</option>
                        </select>
                    </div>
                    <div class=" col-xl-4 col-md-4 col-sm-12">
                            <input type="date" class="form-control">
                    </div>
                </div>
            </div>
        <div class="container">
        <div class="row">
            {% block graphs %}
            {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}
